# Dependencies
node_modules/

# Next.js
.next/
out/

# Build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Env and secrets
.env*
!.env.example

# Tooling
.vercel/
.turbo/
.pnp.cjs
.pnp.loader.mjs
.pnpm-store/

# IDE
.vscode/
.idea/
